.footer {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  color: #000000;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_name h2 {
  font-size: 24px;
  margin: 0;
  font-weight: 600;
}

.copyright p {
  font-size: 14px;
  margin: 0;
}

.links ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

.links li {
  font-size: 16px;
}

.links li:hover {
  text-decoration: underline;
}

@media screen and (min-width: 100px) and (max-width: 750px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
}
